<div class="Layout">
	<div class="topbar">
		<Nav {page}></Nav>
		<slot name="menu"></slot>
	</div>

	<main>
		<slot></slot>
	</main>
</div>

<style type="text/scss" lang="sass">
	.Layout {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	.topbar {
		flex: 0;
		display: flex;
		width: 100%;
		min-height: 3.5rem;
		border-bottom: 1px solid rgba(170,30,30,0.1);
		:global(nav) {
			flex: 1;
		}
	}
	main {
		flex: 1;
	}
</style>

<script>
	import Nav from './Nav.html'
	export default {
		components: {
			Nav
		}
	}
</script>